form {
   max-width: 400px;
   margin: 0 auto;
}

#contact a {
   text-decoration: none;
 }
 
 #contact i {
   font-size: 3.5rem;
   scale: 1;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
 }
 
 #contact i:hover {
   transform: scale(1.1);
 }
 
 .fa-envelope {
   color: var(--RED);
 }
 
 .fa-github {
   color: var(--WHITE);
 }
 
 .fa-linkedin {
   color: dodgerblue;
 }

 .sent {
  background-color: rgba(0, 128, 0, 0.445);
  padding: 1rem;
  border-radius: 0.5rem;
  width: auto;
 }